@import "tailwindcss";


*{
  box-sizing: border-box;
}

body{
  overflow: hidden;
}

.home-container{
  background-image: url('/portfolio-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}